*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ECEEDF;
}
.container {
    display: flex;
    height: 100vh;
    width: 80vw;   
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.left{
    background: url("222389.jpg") center/cover no-repeat;
    flex: 1;
    height: 100%;
}
.logo{
    color: white;
    font-family: MyCustomFont;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 4rem;
}

.right{
    background-color: white;
    flex: 2;
    height: 100%;
    border: 5px solid black;
    border-left: 0;
    box-sizing: border-box;
    padding-left:50px;
}

/* Form */
.form_row{
    display: flex;
    flex: 1;
    justify-content: start;
    gap: 100px;
}
.form_group{
    display: flex;
    flex-direction: column;
}


@font-face {
    font-family: 'MyCustomFont';
    src: url('myfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}