body{
    display: flex;
}
.banner{
    background: red;
    width: 40vw;
    height: 100vh;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('myfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}