*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ECEEDF;
}
.container {
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 80vw;   
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.left{
    background: url("background.jpeg") center/cover no-repeat;
    flex: 1;
    height: 100%;
}

.logo{
    background: rgba(0, 0, 0, 0.5); /* dark overlay */
    color: black;
    font-family: JetBrains MOno;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 4rem;
    display: flex;
    justify-content: center;
}

.right{
    background-color: white;
    flex: 2;
    height: 100%;
    padding-left:50px;
}

/* Form */
.form_row{
    display: flex;
    flex: 1;
    justify-content: start;
    gap: 100px;
}
.form_group{
    display: flex;
    flex-direction: column;
}